page-schedule {
  .item-divider-md, .item-divider-ios {
    background-color: #df5727;
    color: #fff;
    ion-label {
      font-weight: bold;
      font-size: 1.2em;
    }
  }
  ion-item.item-md:nth-child(odd), ion-item.item-ios:nth-child(odd) {
    background-color: #efefef;
  }
  ion-item {
    ion-label {
      white-space: normal;
    }
  }
  .item-md, .item-ios {
    h3 {
      font-weight: bold;
      font-size: 1.75rem;
    }
  }
}
